<!-- <div class="sidenav back_color sidenav-height">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
</div>
   -->

   <div class="row-offcanvas row-offcanvas-left">
      <div id="sidebar" class="sidebar-offcanvas">
          <div class="col-md-12">
            <h3>Sidebar (fixed)</h3>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">MATRIX</a></li>
              <li><a href="#">KEY CONTROLS</a></li>
              <li><a href="#">CORE PROGRAMS</a></li>
              <li><a href="#">AUDIT</a></li>
              <li><a href="#">MAINTENANCE</a></li>
            </ul>
          </div>
      </div>